.social {
  margin-top: 30px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 15px 0;
}

.social_action {
  margin-top: 30px;
  padding: 15px 10px;
}

.img {
  margin-right: 5px;
}

.Action :hover {
  background-color: gray;
  border: 10px;
}
